# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# LinkedIn Scraper Output (Don't push heavy dynamic JSON to git)
linkedin_jobs_india.json

# misc
.DS_Store
Thumbs.db
